<a href="https://colab.research.google.com/github/Roshit9864/Introduction-to-AI-Class/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s= input('string: ')
s=s.replace('n','').replace('o','')
print(s[::-1])

string: python
htyp

In [32]:
SyntaxError=int(input('enter your number'))
T=int(input('enter your second number'))
print(S-T)
print(S+T)
print(S*T)
print(S**T)

enter your number2
enter your second number2
0
4
4
4

In [1]:
sentance=input(" write a sentance: ")
sentance = sentance.replace('python','pythons')
print(sentance)

 write a sentance: I love playing with python
I love playing with pythons

In [57]:
grade = float(input("enter your grade: "))

if grade >= 93.:
 print('your grade is A')
elif 90. <= grade < 93.:
 print('your grade is A-')
elif 87. <= grade < 90.:
 print('your grade is B+')
elif 84. <= grade < 87.:
 print('your grade is B')
elif 80. <= grade < 84.:
 print('your grade is B-')
else:
 print('you are fail brooooo hahahahahahaahhahahahaaha')

enter your grade: 30
you are fail brooooo hahahahahahaahhahahahaaha

In [8]:
x = [23, 'Python', 23.98]
print(x)
print([type(x[0]),type(x[1]),type(x[2]) ])

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [1]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(IT_companies))
IT_companies.add('Twiter')
IT_companies.update('YOGA', 'WWT', 'Lenovo')
IT_companies.remove('IBM')
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
IT_companies.clear
A.clear()
B.clear()
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(age_set)

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
{19, 22, 24, 25, 26}